.producto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 375px;
}

.informacion-producto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.subcategoria {
    color: grey;
    font-size: .75rem;
}

.precio {
    color: var(--primary-color);
    font-size: 1.25rem;
    margin-top: auto;
}

.producto button {
    background: var(--primary-color);
    color: white;
    font-size: 1rem;
    font-family: 'Roboto';
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.producto button:hover {
    background: var(--primary-gradient-color);
    transition: .3s;
}

.producto button:disabled {
    background: gray;
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .producto {
        height: 385px;
    }
}

@media (min-width: 1038px) {
    .producto {
        height: 350px;
    }
}