<nav>
    <button id="boton-menu" type="button" aria-label="Menú" (click)="alternarMenu()">
        <mat-icon aria-hidden="false" aria-label="Ícono del menú">
            {{menuAbierto ? 'close' : 'menu'}}
        </mat-icon>
    </button>

    <a [routerLink]="['/inicio']" aria-label="Home" id="logo">
        <img src="../../../assets/imagenes/logo.webp" alt="Logo de Compra Gamer">
    </a>

    <ul #listaNav>
        <li>
            <a [routerLink]="['/inicio']" (click)="alternarMenu()">
                <mat-icon aria-hidden="false" aria-label="Ícono de la página de inicio">home</mat-icon>
                <p>Inicio</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/carrito']" (click)="alternarMenu()">
                <mat-icon aria-hidden="false" aria-label="Ícono de la página del carrito de compras">shopping_cart</mat-icon>
                <p matBadge="{{cantidadElementosCarrito}}" matBadgeColor="warn" [matBadgeHidden]="badgeOculta">Carrito</p>
            </a>
        </li>
        <li *ngIf="!authService.usuarioEstaLogueado">
            <a [routerLink]="['/registro']" (click)="alternarMenu()">
                <mat-icon aria-hidden="false" aria-label="Ícono de la página para registrarse">person_add</mat-icon>
                <p>Registrarse</p>
            </a>
        </li>
        <li *ngIf="authService.usuarioEstaLogueado">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menú del usuario" class="menu-usuario">
                <mat-icon>more_vert</mat-icon> <span>{{authService.usuario.nombre}} {{authService.usuario.apellido}}</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="cerrarSesion()">
                    <mat-icon aria-hidden="false" aria-label="Ícono de la página para cerrar sesión">logout</mat-icon>
                    <span>Cerrar sesión</span>
                </button>
            </mat-menu>
        </li>
    </ul>
</nav>